@import "normalize";
@import "variables-site/colors";
@import "variables-site/typography";
@import "typography/headings";
@import "mixins/mixins-master";

@import "site/primary/posts-and-pages";


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.wp-admin {
  .wp-block {
    max-width:100%!important;
  }
}

/* Old TinyMCE Settings */

.edit-post-visual-editor {
  font-size: rem-calc(20px)!important;
  font-family: $font__main;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $font__line-height-body;

  h1, h2, h3, h4, h5, h6, p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-family: $font__main;
  }

  p {
    margin:0 0 .5em 0;
    font-family:$font__main;
    line-height:1.2;
    font-size: rem-calc(20px)!important;
  }


  a {
    color:#007ed4;
    text-decoration: underline!important;
    @include transition();
  }

  small {
    color: #000;
    font-size: 0.8em;
  }

  a:hover {
    color:#009cd4;
    text-decoration:underline;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  pre {
    color: #100;
    background-color: #f9f9f9;
    border: 1px solid silver;
    margin: 0 0 1.5em 0;
  }
}